<section id="home-index" class="index-section">
  <div class="box-lg">
    <h1>Welcome to the PostgreSQL Demo App</h1>
    <h3>This App demonstrates how PostgreSQL handles geospatial querying and storage in web applications!!</h3>
  </div>
</section>
