<div class="search-form" id="film-location-summary-search-form">
  <div class="form-inline input-group">
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Title' %>
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Choose Column' %>
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Order By' %>
    <div class="input-group-btn">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  </div>
</div>
