<h1>Editing Film Location Summary</h1>

<%= render 'form', film_location_summary: @film_location_summary %>

<%= link_to 'Show', @film_location_summary %> |
<%= link_to 'Back', film_location_summaries_path %>
