@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Cinzel|Crimson+Text|Dosis|Fira+Sans|Josefin+Slab|Nunito|Open+Sans|Open+Sans+Condensed:300|PT+Sans|Roboto|Ubuntu+Condensed');
@import 'normalize-rails';
@import 'bootstrap';
@import 'font-awesome';
@import 'variables';
@import 'nav';
@import 'header';
@import 'home';
@import 'tables';
@import 'boxes';
@import 'search';
@import 'map';

body, html {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: $open_sans;
}

.outer-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba($grey, 0.4);
}

.inner-wrapper {
  min-height: 75vh;
}

.footer {
  @include font($fira_sans, 0.7em);
  text-transform: uppercase;
  text-shadow: 1px solid rgba($black, 0.3);
  margin-bottom: none;
}
