.box {
  text-align: center;
  h1 {
    @include font(inherit, 3em);
  }
  h3 {
    margin: 5%;
    @include font(fira_sans, 1.5em);
    font-style: italic;
  }
}

.box-lg {
  @extend .box;
  @include box(1%, 10%);
}

.box-md{
  @extend .box;
  @include box(1%, 2%);
}
