#main-map {
  width: 100%;
  min-height: 500px;
  @include box(0, 2%);
}

#map-info {
  text-align: center;
  @include box(0, 2%, 500px, 20%, 1px);
  @include font($open_sans_c, 0.4em);
  @include colors(rgba($black, 0.1), rgba($white, 0.1));
}

.map-box {
  @include colors();
}
