.summary-table {
  display: block;
  height: 42em;
  @include font($dosis, 0.7em);
  tbody {
    max-height: 40em;
    overflow: auto;
  }
  th {
    @include link(inherit, 1.2em, $grey, $white, none);
  }
}

.pagination {
  @include font(inherit, 0.7em);
}
.col2, .col3 {
  @include col(12%, scroll);
}

.col4, .col9, .col10, .col11 {
  @include col(5%, scroll);
}

.col12 {
  @include col(25%, scroll);
}
