.summary-table {
  display: block;
  height: 42em;
  @include font($dosis, 0.7em);
  tbody {
    max-height: 40em;
    overflow: auto;
  }
  th {
    @include link(inherit, 1.2em, $grey, $white, none);
  }
}

.pagination {
  @include font(inherit, 0.7em);
}
.c12 {
  @include col(12%, scroll);
}

.c9 {
  @include col(9%, scroll);
}
.c5 {
  @include col(5%, scroll);
}

.c25 {
  @include col(25%, scroll);
}
