<header>
  <h2 class="page-header"><%= @page_header %></h2>
  <% if @page_subheader %>
    <h4 class="page-subheader"><%= @page_subheader %></h4>
  <% end %>
  <% if notice %>
    <div id="notice-bar" class="alert" role="alert">
      <%= notice %>
    </div>
  <% end %>
</header>
