<div class="table-search-bar">
  <%= search_form_for @q, html: { class: 'form-horizontal search-form' } do |f| %>
    <%= render 'search_form', f: f %>
    <%= link_to 'Advanced Search', '#table-search-adv', class: 'search-options',
    data: { toggle: 'modal' } %>
  <% end %>
  <%= render 'layouts/table_search_adv' %>
</div>
